@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-app {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.input-container input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
    color: #000000;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

li .task {
    flex: 1;
}

li .delete-task {
    background-color: #dc3545;
    color: white;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

li .delete-task:hover {
    background-color: #c82333;
}

.completed p {
    text-decoration: line-through;
    color: lightgray;
}

